body { 
	/*padding-top: 40px; */
	-webkit-animation: 0.3s fadeIn;
	-o-animation: 0.3s fadeIn;
	animation: 0.3s fadeIn;
	font-family: 'Roboto', Tahoma;
}

body,
html, .ng-view {
	padding: 0;
	position: relative;
	height: 100%;
	margin: 0;
	font-weight: 100;
	-webkit-transition: opacity 400ms;
	-moz-transition: opacity 400ms;
	transition: opacity 400ms;
}

.uh-bg{
	background-color: #4876B7 !important;
	color: #FFF;
}

.uh-hue-bg{
	background-color: #5F92DB !important;
	color: #FFF;
}

md-tabs .md-tab.md-active , md-tabs .md-tab.md-focused{
	color: #FFF !important;
	fill: white;
}

.md-stretch-tabs{
	background-color: #4876B7 !important;
	color: #FFF;
}

.st-easy{
	border-left-color: #B5BD67 !important;
}

.st-med{
	border-left-color: #D3935E !important;
}

.st-hard{
	border-left-color: #CC6666 !important;
}

.md-list .md-list-item button.md-button:not(disabled):hover, .md-list .md-list-item button.md-button:hover{
	background-color: transparent !important;
}

.main-view.ng-enter {
    -webkit-animation: .5s fadeInUp;
    -o-animation: .5s fadeInUp;
    animation: .5s fadeInUp
}

.logo-res{
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

.welcome-text{
	font-weight: 100;
	margin-top: 0;
	margin-bottom: 10px;
}

.md-button.md-fab {
	line-height: 1em;
}

.md-fixed{
	position: fixed !important;
}

.toolbar-icon{
	margin-top: -12px;
	margin-right: 8px;
}
.toolbar-icon-lg{
	margin-top: -22px;
	margin-right: 8px;
	margin-left: 8px;
}
.b-p {
margin-bottom: 15px;
}

.course-item{
	border-left: 6px solid #CC6666;
}

.fullwidth {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
}

.not-fullwidth,
.fullwidth.not-overflow {
	height: 100%;
	overflow: hidden;
}

.cover {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.middle {
	display: table;
}

.middle-wrap {
	display: table-cell;
	position: relative;
	vertical-align: middle;
	width: 100%;
}